---
import Categories from "@/components/Categories.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { getEntries } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ArrowNarrowRight from "@tabler/icons/outline/arrow-narrow-right.svg";
import AvatarGroup from "../AvatarGroup.astro";

type Props = CollectionEntry<"blog">;

const { id, data } = Astro.props;
const { title, subtitle, pubDate, categories, authors } = data;

const authorsData = authors ? await getEntries(authors) : null;
const categoriesData = categories ? await getEntries(categories) : null;
---

<article class="space-y-2 cursor-pointer flex flex-col relative z-10 p-4">
  <div class="flex flex-row justify-between items-center">
    {categoriesData ? <Categories categories={categoriesData} /> : <div />}

    <p class="font-mono text-xs text-muted-foreground uppercase tracking-wider">
      <FormattedDate date={pubDate} />
    </p>
  </div>

  <div class="flex flex-col gap-2 grow">
    <a
      class="font-sans text-xl md:text-2xl font-medium first-letter:capitalize group-hover:underline leading-snug"
      href={`/blog/${id}`}
    >
      {title}
    </a>
    {
      subtitle && (
        <span class="font-sans text-sm text-muted-foreground first-letter:capitalize">
          {subtitle}
        </span>
      )
    }
    <div class="flex flex-row items-center justify-between pt-4 pb-0 mt-auto">
      {/* READ MORE: font-mono */}
      <a
        class="font-mono text-xs uppercase tracking-widest flex flex-row gap-2 items-center hover:text-primary transition-colors"
        href={`/blog/${id}`}
      >
        Read more <ArrowNarrowRight class="w-4 h-4" />
      </a>
      {authorsData && <AvatarGroup data={authorsData} />}
    </div>
  </div>
</article>
