---
import { getCollection } from "astro:content";
import BlogCard from "@/components/astro/Card/BlogCard.astro";
import ClickableCard from "@/components/astro/Card/ClickableCard.astro";
import BlogFeaturedCard from "@/components/astro/Card/BlogFeaturedCard.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { Image } from "astro:assets";
import Badge from "@/components/astro/Badge.astro";
import type { GetStaticPaths, Page } from "astro";
import { PAGE_SIZE } from "@/consts";
import Pagination from "@/components/astro/Pagination.astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPublishedPosts = (
    await getCollection("blog", ({ data }) => {
      return import.meta.env.MODE !== "production" || data.draft === false;
    })
  ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  const featuredPosts = allPublishedPosts.filter(({ data }) => data.featured);
  const nonFeaturedPosts = allPublishedPosts.filter(
    ({ data }) => !data.featured
  );

  return paginate(nonFeaturedPosts, {
    pageSize: PAGE_SIZE,
    props: { featuredPosts },
  });
};
interface Props {
  page: Page<CollectionEntry<"blog">>;
  featuredPosts: CollectionEntry<"blog">[];
}
const { page, featuredPosts } = Astro.props;
const pageTitle = "Our latest blog posts";
const pageDescription =
  "Read the latest articles and insights from our community.";
---

<PageLayout title={pageTitle} description={pageDescription}>
  <header class="flex flex-col items-center justify-center py-16 md:py-24">
    <Badge
      variant={"secondary"}
      size={"sm"}
      class="font-mono uppercase tracking-widest text-xs mb-3 border border-border/50"
    >
      Blog & Articles
    </Badge>
    <h1
      class="font-sans text-5xl md:text-7xl font-medium tracking-tighter pt-4 text-center max-w-4xl leading-tight"
    >
      Read our latest articles
    </h1>
  </header>

  {
    featuredPosts.length > 0 && page.currentPage === 1 && (
      <section class="mb-12 ">
        <h2 class="font-sans text-xl md:text-2xl font-medium mb-6 uppercase tracking-wider border-b border-border/50 pb-2">
          Featured Posts
        </h2>
        <div class="grid gap-8 lg:gap-10 xl:gap-18">
          {featuredPosts.map((post) => (
            <ClickableCard href={`/blog/${post.id}/`}>
              <BlogFeaturedCard {...post} />
            </ClickableCard>
          ))}
        </div>
      </section>
    )
  }

  <section class="mb-12">
    <h2
      class="font-sans text-xl md:text-2xl font-medium mb-8 uppercase tracking-wider border-b border-border/50 pb-2"
    >
      All Posts
    </h2>
    <div class="grid grid-cols-2 gap-8">
      {
        page.data.map((post) => (
          <ClickableCard
            class="group relative col-span-2 lg:col-span-1 border-b border-border last:border-b-0 lg:[&:nth-last-child(2)]:border-b-0 hover:bg-secondary/20 transition-colors"
            href={`/blog/${post.id}/`}
          >
            <BlogCard {...post} />
            {post.data.heroImage && (
              <Image
                inferSize
                class={
                  "absolute top-0 right-0 h-full w-1/4 object-cover z-0 hidden group-hover:block opacity-40 grayscale group-hover:grayscale-0 transition-all duration-500"
                }
                src={post.data.heroImage}
                alt={post.data.heroImageAlt ?? ""}
              />
            )}
          </ClickableCard>
        ))
      }
    </div>
    <div class="flex justify-center mt-16">
      <Pagination
        url={page.url}
        class="font-mono text-sm uppercase tracking-widest"
      />
    </div>
  </section>
</PageLayout>
