---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import ArrowLeft from "@tabler/icons/outline/arrow-left.svg";

import FormattedDate from "../components/FormattedDate.astro";
import Prose from "@/components/astro/Prose.astro";
import PageLayout from "./PageLayout.astro";
import { getEntries } from "astro:content";
import Categories from "@/components/Categories.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  subtitle,
  categories,
  authors,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImageAlt,
  relatedPosts,
} = Astro.props;

const authorsData = authors ? await getEntries(authors) : null;
const categoriesData = categories ? await getEntries(categories) : null;
---

<PageLayout title={title} description={description ?? title}>
  <article class="py-8 space-y-10">
    <header class="space-y-8 border-b border-border pb-10">
      <a
        href="/blog/page/1"
        class="inline-flex items-center gap-2 font-mono text-xs uppercase tracking-widest text-muted-foreground hover:text-primary transition-colors px-4"
      >
        <ArrowLeft class="size-4" /> Back to All Blogs
      </a>
      <div class="space-y-4 text-center">
        <h1
          class="font-sans text-3xl md:text-5xl font-medium tracking-tighter first-letter:capitalize"
        >
          {title}
        </h1>
        {
          subtitle && (
            <p class="font-sans text-lg text-muted-foreground leading-relaxed first-letter:capitalize max-w-3xl mx-auto">
              {subtitle}
            </p>
          )
        }
      </div>

      <div class="flex flex-row justify-around items-center text-xs">
        {categoriesData ? <Categories categories={categoriesData} /> : <div />}

        <span
          class="font-mono text-xs text-muted-foreground uppercase tracking-wider border-l border-border/50 pl-6"
        >
          <FormattedDate date={pubDate} />
        </span>
      </div>
    </header>

    {
      heroImage && (
        <div class="flex items-center justify-center overflow-hidden">
          <Image
            inferSize
            class="object-cover rounded-xl max-h-1/2"
            src={heroImage}
            alt={heroImageAlt ?? ""}
          />
        </div>
      )
    }

    <div class="prose max-w-7xl mx-auto dark:prose-invert">
      <slot />
    </div>

    {
      relatedPosts && relatedPosts.length > 0 && (
        <div class="border-t border-border/50 pt-12 space-y-8">
          <div class="flex flex-col text-center gap-2">
            <h3 class="font-sans text-2xl font-medium tracking-tight">
              If You Liked This...
            </h3>
            <p class="font-sans text-muted-foreground">
              Explore similar topics
            </p>
          </div>
          {/* Placeholder for related posts grid */}
          <div class="grid gap-8">dfdfd</div>
        </div>
      )
    }
  </article>
</PageLayout>
